<app-user-header></app-user-header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Book Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header>
        <h1 style="color: #ffff;font-family: Arial, sans-serif !important;">Contact Us</h1>
    </header>
    <main>
        <!-- <div class="container contact-form-container" hidden>
            <section class="contact-form">
        <h2>Get in touch</h2>
                <form action="submit_form.php" method="post">
                    <label for="name"><strong><i class="fas fa-user"></i> Name:</strong></label>
                    <input type="text" id="name" name="name" required>

                    <label for="email"><strong><i class="fas fa-envelope"></i> Email:</strong></label>
                    <input type="email" id="email" name="email" required>

                    <label for="subject"><strong><i class="fas fa-tag"></i> Subject:</strong></label>
                    <input type="text" id="subject" name="subject" required>

                    <label for="message"><strong><i class="fas fa-comment"></i> Message:</strong></label>
                    <textarea id="message" name="message" rows="4" required></textarea>

                    <input type="submit" value="Submit">
                </form>
            </section>
        </div> -->
        <div class="container contact-info-container">
            <section class="contact-info">
                <h2 style="font-family: Arial, sans-serif !important;">Contact Info</h2>
                <p class="description">Feel free to get in touch with us.</p>
                <ul class="contact-list">
                    <li><strong><i class="fas fa-envelope"></i> Email:</strong> info@bookstore.com</li>
                    <li><strong><i class="fas fa-phone"></i> Phone:</strong> (123) 456-7890</li>
                    <li><strong><i class="fas fa-map-marker-alt"></i> Address:</strong> 1234 Book Street, USA</li>
                </ul>
            </section>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Book Store</p>
    </footer>
</body>
</html>