<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container" id="moving-text" >
    <br>
    <div class="my-5">

    </div>
    <br>

    <div class="jumbotron" style="background-color: rgba(12, 52, 92, 0.9);color:white">
        <div class="text-center">
            <h1 class="display-4" >ENZ BOOK CLUB</h1>
        </div>
        <p class="lead">"Welcome to Online Book Review Application."</p>
        <hr class="my-4">
        <p>In “ENZ Book Club” you can review a list of book where our store has vast number of books.</p>
        <div class="text-center my-3">
            <a class="btn btn-danger btn-lg" routerLink="admin" role="button">Admin Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary btn-lg" routerLink="user" role="button">User Login</a>
        </div>
    </div>
</div>
</body>
</html>

