body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #def7f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar h1{
  color: white;
}

h1 {
  color: black;
  text-align: center;
  margin-top: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: none;
  
}
h2 {
  color: red;
  text-align: center;
  margin-top: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table td, table th {
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="text"], input[type="number"], textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 5px;
  vertical-align: middle;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  /* margin-top: 20px; */
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 20px;
  color: white;
}
button, .btn-link {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

button:hover, .btn-link:hover {
  background-color: #218838;
}

.return-link {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Add a small right margin */
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 10px; /* Add gap between buttons */
}