<app-user-header></app-user-header>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <br>
    <div class="my-5">

    </div>
    <br>

    <div class="jumbotron" style="background-color: rgba(12, 52, 92, 0.37);color:white">
      <div class="text-center">
        <h1 class="display-4">ENZ BOOK CLUB</h1>
      </div>
      <hr class="my-4">
      <p><i>"The ENZ Book Club is a vibrant community of readers who share a passion for exploring the world through the
          pages of a book. Joining our club means embarking on a journey of discovery.joining our club means embarking
          on a journey of discovery. Whether you're diving into the latest bestseller or revisiting a timeless classic,
          each book opens doors to new ideas,perspectives,and emotions.But the ENZ Book Club is more than just a reading
          group – it's a gathering of like-minded individuals who come together to share their love of literature.
          Through lively discussions,insightful reviews,and engaging events,we celebrate the magic of storytelling and
          the connections it creates.Our club is inclusive and welcoming to all. We believe in the importance of
          diversity in literature and strive to explore a wide range of genres, authors, and voices. Everyone's
          perspective is valued, and everyone's voice is heard."</i></p>
    </div>
  </div>
</body>

</html>