<app-user-header></app-user-header>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div [class]="accountEnable?'show':'hide'">
    <h1 align="center" style="color:white;">Details of {{user.name}}</h1><br>
    <div class="container table-container">
      <div class="row">
        <div class="col-md-6">
          <table cellpadding="20" class="table-shadow">
            <tr>
              <td>Name:</td>
              <td> {{user.name}}</td>
            </tr>
            <tr>
              <td>Email:</td>
              <td name="emp_name">{{user.email}}</td>
            </tr>
            <tr>
              <td>Password:</td>
              <td>{{user.password}}</td>
            </tr>
            <tr>
              <td colspan="2" align="center"><button class="btn btn-success" type="button" name="add"
                  (click)="editAccount()">Edit profile</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div [class]="editEnable?'show':'hide'">
    <h1 align="center" style="color:#ffffff;">Edit profile</h1><br>
    <div class="container table-container">
      <div class="row">
        <div class="col-md-6">
          
          <table cellpadding="20" class="table-shadow">
            <tr>
              <td>Name:</td>
              <td><input class="form-control" type="text" [(ngModel)]="user.name"></td>
            </tr>
            <tr>
              <td>Email Id:</td>
              <td><input class="form-control" type="text" [(ngModel)]="user.email" disabled></td>
            </tr>
            <tr>
              <td>Password:</td>
              <td><input class="form-control" type="text" [(ngModel)]="user.password"></td>
            </tr>
            <tr>
              <td align="center" colspan="2" style="color:red">{{errorMessage}}</td>
            </tr>
            <tr>
              <td colspan="2" align="center"><button class="btn btn-success" type="button" name="add"
                  (click)="updateAccount(user.name, user.email, user.password)">Update profile</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</body>

</html>